
<!-- Blog Thumb v4 -->
<div class="margin-bottom-50">
    <h2 class="title-v4">Related Posts</h2>
    <div class="row margin-bottom-50">
        <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
            <!-- Blog Thumb v4 -->
            <div class="blog-thumb-v4">
                <div class="blog-thumb-item">
                    <img class="img-responsive margin-bottom-10" src="assets/img/blog/img40.jpg" alt="">
                    <div class="center-wrap">
                        <div class="center-alignCenter">
                            <div class="center-body">
                                <a href="https://player.vimeo.com/video/74197060" class="fbox-modal fancybox.iframe video-play-btn" title="What will fashion be like in 25 years?">
                                    <img class="video-play-btn" src="assets/img/icons/video-play.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div><!--/end center wrap-->
                </div>
                <h3><a href="blog_single.html">What will fashion be like in 25 years?</a></h3>
            </div>
            <!-- End Blog Thumb v4 -->
        </div>

        <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
            <!-- Blog Thumb v4 -->
            <div class="blog-thumb-v4">
                <img class="img-responsive margin-bottom-10" src="assets/img/blog/img35.jpg" alt="">
                <h3><a href="blog_single.html">Where will be your next destination</a></h3>
            </div>
            <!-- End Blog Thumb v4 -->
        </div>

        <div class="col-sm-3 col-xs-6">
            <!-- Blog Thumb v4 -->
            <div class="blog-thumb-v4">
                <div class="blog-thumb-item">
                    <img class="img-responsive margin-bottom-10" src="assets/img/blog/img43.jpg" alt="">
                    <div class="center-wrap">
                        <div class="center-alignCenter">
                            <div class="center-body">
                                <a href="https://player.vimeo.com/video/74197060" class="fbox-modal fancybox.iframe video-play-btn" title="Suffering from gastritis? Here's the solution ....">
                                    <img class="video-play-btn" src="assets/img/icons/video-play.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div><!--/end center wrap-->
                </div>
                <h3><a href="blog_single.html">Suffering from gastritis? Here's the solution ....</a></h3>
            </div>
            <!-- End Blog Thumb v4 -->
        </div>

        <div class="col-sm-3 col-xs-6">
            <!-- Blog Thumb v4 -->
            <div class="blog-thumb-v4">
                <img class="img-responsive margin-bottom-10" src="assets/img/blog/img41.jpg" alt="">
                <h3><a href="blog_single.html">The places you must visit, before you die</a></h3>
            </div>
            <!-- End Blog Thumb v4 -->
        </div>
    </div><!--/end row-->
</div>
<!-- End Blog Thumb v4 -->
