                <div class="margin-bottom-50">
                    <h2 class="title-v4">Comments (3)</h2>

                    <!-- Blog Comments v2 -->
                    <div class="row blog-comments-v2">
                        <div class="commenter">
                            <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                        </div>
                        <div class="comments-itself">
                            <h4>
                                Jorny Alnordussen
                                <span>6 hours ago / <a href="#">Reply</a></span>
                            </h4>
                            <p>Gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod..</p>
                        </div>
                    </div>
                    <!-- End Blog Comments v2 -->

                    <!-- Blog Comments v2 -->
                    <div class="row blog-comments-v2 blog-comments-v2-reply">
                        <div class="commenter">
                            <img class="rounded-x" src="assets/img/team/img2.jpg" alt="">
                        </div>
                        <div class="comments-itself">
                            <h4>
                                Susie Lau
                                <span>6 hours ago / <a href="#">Reply</a></span>
                            </h4>
                            <p>Gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod..</p>
                        </div>
                    </div>
                    <!-- End Blog Comments v2 -->

                    <!-- Blog Comments v2 -->
                    <div class="row blog-comments-v2">
                        <div class="commenter">
                            <img class="rounded-x" src="assets/img/team/img3.jpg" alt="">
                        </div>
                        <div class="comments-itself">
                            <h4>
                                Marcus Farrell
                                <span>6 hours ago / <a href="#">Reply</a></span>
                            </h4>
                            <p>Gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod..</p>
                        </div>
                    </div>
                    <!-- End Blog Comments v2 -->
                </div>
                <!-- End Blog Comments v2 -->