{% load staticfiles %}
    <!--=== Footer v8 ===-->
    <div class="footer-v8">
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 column-one md-margin-bottom-50">
                        <span>Address:</span>
                        <p>서울특별시 관악구 관악로 1 연구공원 본관 337</p>
                        <hr>
                        <span>Phone:</span>
                        <p>(+82) 010 9919 6919</p>
                        <hr>
                        <span>Email Address:</span>
                        <a href="#">su.seo@bakecompany.net</a>
                    </div>

                    <div class="col-md-4 col-sm-6 md-margin-bottom-50">
                        <h2>Social Network</h2>
                        <!-- Social Icons -->
                        <ul class="social-icon-list margin-bottom-20">
                            <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                        </ul>
                        <!-- End Social Icons -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h2>Newsletter</h2>
                        <p><strong>Subscribe</strong> to our newsletter and stay up to date with the latest news and deals!</p><br>

                        <!-- Form Group -->
                        <div class="input-group margin-bottom-50">
                            <input class="form-control" type="email" placeholder="Enter email">
                            <div class="input-group-btn">
                                <button type="button" class="btn-u input-btn">Subscribe</button>
                            </div>
                        </div>
                        <!-- End Form Group -->


                    </div>
                </div><!--/end row-->
            </div><!--/end container-->
        </footer>

        <footer class="copyright">
            <div class="container">
                <ul class="list-inline terms-menu ">
                    <li>2016 &copy; All Rights Reserved.</li>
                    <li class="home"><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy and Policy</a></li>
                </ul>
            </div><!--/end container-->
        </footer>
    </div>
    <!--=== End Footer v8 ===-->
