
<!-- JS Global Compulsory -->
<script src="assets/plugins/jquery/jquery.min.js"></script>
<script src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="assets/plugins/back-to-top.js"></script>
<script src="assets/plugins/smoothScroll.js"></script>
<script src="assets/plugins/counter/waypoints.min.js"></script>
<script src="assets/plugins/counter/jquery.counterup.min.js"></script>
<script src="assets/plugins/master-slider/masterslider/masterslider.js"></script>
<script src="assets/plugins/master-slider/masterslider/jquery.easing.min.js"></script>
<script src="assets/plugins/modernizr.js"></script>
<script src="assets/plugins/login-signup-modal-window/js/main.js"></script>
<!-- JS Customization -->
<script src="assets/js/custom.js"></script>
<!-- JS Page Level -->
<script src="assets/js/app.js"></script>
<script src="assets/js/plugins/fancy-box.js"></script>
<script src="assets/js/plugins/owl-carousel.js"></script>
<script src="assets/js/plugins/master-slider-showcase3.js"></script>
<script src="assets/js/plugins/style-switcher.js"></script>
<script>
    jQuery(document).ready(function() {
        App.init();
        App.initCounter();
        StyleSwitcher.initStyleSwitcher();
        MasterSliderShowcase3.initMasterSliderShowcase3();
    });
</script>

<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->