{% load staticfiles %}

    <!-- Master Slider -->
    <div class="container content no-padding-bottom blog-ms-v2">
        <div class="master-slider ms-skin-black-2 round-skin" id="masterslider">
            <div class="ms-slide blog-slider">
                <img src="{% static 'assets/plugins/master-slider/masterslider/style/blank.gif' %}" data-src="{% static 'assets/img/blog/img9.jpg' %}" alt="lorem ipsum dolor sit"/>
                <span class="blog-slider-badge">Fashion</span>
                <div class="ms-info"></div>
                <div class="blog-slider-title">
                    <span class="blog-slider-posted">Mar 6, 2015</span>
                    <h2><a href="#">Is this the end for fashion police?</a></h2>
                </div>
                <div class="ms-thumb">
                    <h3>Fashion Week</h3>
                    <p>Lorem ipsum dolor sit ametonse ctetuer elit</p>
                </div>
            </div>

            <div class="ms-slide blog-slider">
                <img src="{% static 'assets/plugins/master-slider/masterslider/style/blank.gif' %}" data-src="{% static 'assets/img/blog/img52.jpg' %}" alt="lorem ipsum dolor sit"/>
                <span class="blog-slider-badge">Hi-Tech</span>
                <div class="ms-info"></div>
                <div class="blog-slider-title">
                    <span class="blog-slider-posted">Mar 6, 2015</span>
                    <h2><a href="#">Learning as you're earning: The alternative to a degree</a></h2>
                </div>
                <div class="ms-thumb">
                    <h3>LA Hi-Tech Showcase</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer elit</p>
                </div>
            </div>

            <div class="ms-slide blog-slider">
                <img src="{% static 'assets/plugins/master-slider/masterslider/style/blank.gif' %}" data-src="{% static 'assets/img/blog/img5.jpg' %}" alt="lorem ipsum dolor sit"/>
                <span class="blog-slider-badge">Sport</span>
                <div class="ms-info"></div>
                <div class="blog-slider-title">
                    <span class="blog-slider-posted">Mar 6, 2015</span>
                    <h2><a href="#">Brady handed his place in history</a></h2>
                </div>
                <div class="ms-thumb">
                    <h3>World Sport</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer elit</p>
                </div>
            </div>

            <div class="ms-slide blog-slider">
                <img src="{% static 'assets/plugins/master-slider/masterslider/style/blank.gif' %}" data-src="{% static 'assets/img/blog/img16.jpg' %}" alt="lorem ipsum dolor sit"/>
                <span class="blog-slider-badge">Fashion</span>
                <div class="ms-info"></div>
                <div class="blog-slider-title">
                    <span class="blog-slider-posted">Mar 6, 2015</span>
                    <h2><a href="#">Nadège Vanhee-Cybulski makes Hermès debut</a></h2>
                </div>
                <div class="ms-thumb">
                    <h3>Welcome to New York</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer elit</p>
                </div>
            </div>

            <div class="ms-slide blog-slider">
                <img src="{% static 'assets/plugins/master-slider/masterslider/style/blank.gif' %}" data-src="{% static 'assets/img/blog/img35.jpg' %}" alt="lorem ipsum dolor sit"/>
                <a href="http://player.vimeo.com/video/53914149" data-type="video"> vimeo video </a>
                <span class="blog-slider-badge">Travel</span>
                <div class="ms-info"></div>
                <div class="blog-slider-title">
                    <span class="blog-slider-posted">Mar 6, 2015</span>
                    <h2><a href="#">Our favourite images of the week</a></h2>
                </div>
                <div class="ms-thumb">
                    <h3>Travel with Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer elit</p>
                </div>
            </div>

            <div class="ms-slide blog-slider">
                <img src="{% static 'assets/plugins/master-slider/masterslider/style/blank.gif' %}" data-src="{% static 'assets/img/blog/img41.jpg' %}" alt="lorem ipsum dolor sit"/>
                <span class="blog-slider-badge">Travel</span>
                <div class="ms-info"></div>
                <div class="blog-slider-title">
                    <span class="blog-slider-posted">Mar 6, 2015</span>
                    <h2><a href="#">Must be visited places in the world</a></h2>
                </div>
                <div class="ms-thumb">
                    <h3>Hot Deals to UK</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer elit</p>
                </div>
            </div>

            <div class="ms-slide blog-slider">
                <img src="{% static 'assets/plugins/master-slider/masterslider/style/blank.gif' %}" data-src="{% static 'assets/img/blog/img48.jpg' %}" alt="lorem ipsum dolor sit"/>
                <span class="blog-slider-badge">Health</span>
                <div class="ms-info"></div>
                <div class="blog-slider-title">
                    <span class="blog-slider-posted">Mar 6, 2015</span>
                    <h2><a href="#">5 Facts about Coca-Cola</a></h2>
                </div>
                <div class="ms-thumb">
                    <h3>Health and Medicine</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer elit</p>
                </div>
            </div>

            <div class="ms-slide blog-slider">
                <img src="{% static 'assets/plugins/master-slider/masterslider/style/blank.gif' %}" data-src="{% static 'assets/img/blog/img53.jpg' %}" alt="lorem ipsum dolor sit"/>
                <span class="blog-slider-badge">Community</span>
                <div class="ms-info"></div>
                <div class="blog-slider-title">
                    <span class="blog-slider-posted">Mar 6, 2015</span>
                    <h2><a href="#">Minimalism gives way to embroidery and crystals</a></h2>
                </div>
                <div class="ms-thumb">
                    <h3>Community Meeting</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer elit</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Master Slider -->
